/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#myd{
    display: none;
}
/* home */
#home{
    height: 370px;
    padding: 3px 69px;
    
}
#home::before{
    height: 400px;
    
}
#home p{
    font-size: 13px;
}
/* services */
#services{
    flex-direction: column;
}
#services .box{
    padding: 0px;
    margin: 2px 0px;
    margin-bottom: 20px;


}
#services .box img{
    height: 104px;
}
/* clients */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 76px;
    padding: 0px 56px;
    height: auto;
}


/* contact */
#contactbox form{
    width: 80%;

}


/* footer */



/* utility class */
.h-primary{
    font-size: 26px;
}
.btn{
    padding: 4px 8px;
}

